CCNetConfig.BugTracking/Web References/org.ccnetconfig.services/bugtracker.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://services.ccnetconfig.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://services.ccnetconfig.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://services.ccnetconfig.org/">
      <s:element name="CreateWorkItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="workItem" type="tns:TfsWorkItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TfsWorkItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TfsServer" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ProjectId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachments" type="tns:ArrayOfBugTrackerFile" />
          <s:element minOccurs="0" maxOccurs="1" name="WorkItemTypeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fields" type="tns:ArrayOfTfsField" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBugTrackerFile">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BugTrackerFile" nillable="true" type="tns:BugTrackerFile" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BugTrackerFile">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FileData" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTfsField">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TfsField" nillable="true" type="tns:TfsField" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TfsField">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateWorkItemResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetWorkItemTypeNames">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="server" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWorkItemTypeNamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWorkItemTypeNamesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetWorkItemTypes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="server" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWorkItemTypesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWorkItemTypesResult" type="tns:ArrayOfTfsWorkItemType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTfsWorkItemType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TfsWorkItemType" nillable="true" type="tns:TfsWorkItemType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TfsWorkItemType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FieldDefinitions" type="tns:ArrayOfTfsWorkItemFieldDefinition" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayForm" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTfsWorkItemFieldDefinition">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TfsWorkItemFieldDefinition" nillable="true" type="tns:TfsWorkItemFieldDefinition" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TfsWorkItemFieldDefinition">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SystemType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FieldType" type="tns:FieldType" />
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsQueryable" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsEditable" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsComputed" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HelpText" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CanSortBy" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="AllowedValues" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="FieldType">
        <s:restriction base="s:string">
          <s:enumeration value="String" />
          <s:enumeration value="Integer" />
          <s:enumeration value="DateTime" />
          <s:enumeration value="PlainText" />
          <s:enumeration value="Html" />
          <s:enumeration value="TreePath" />
          <s:enumeration value="History" />
          <s:enumeration value="Double" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetProjects">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="server" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProjectsResult" type="tns:ArrayOfTfsProject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTfsProject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TfsProject" nillable="true" type="tns:TfsProject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TfsProject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Uri" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetProjectId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="server" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetProjectIdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateWorkItemSoapIn">
    <wsdl:part name="parameters" element="tns:CreateWorkItem" />
  </wsdl:message>
  <wsdl:message name="CreateWorkItemSoapOut">
    <wsdl:part name="parameters" element="tns:CreateWorkItemResponse" />
  </wsdl:message>
  <wsdl:message name="GetWorkItemTypeNamesSoapIn">
    <wsdl:part name="parameters" element="tns:GetWorkItemTypeNames" />
  </wsdl:message>
  <wsdl:message name="GetWorkItemTypeNamesSoapOut">
    <wsdl:part name="parameters" element="tns:GetWorkItemTypeNamesResponse" />
  </wsdl:message>
  <wsdl:message name="GetWorkItemTypesSoapIn">
    <wsdl:part name="parameters" element="tns:GetWorkItemTypes" />
  </wsdl:message>
  <wsdl:message name="GetWorkItemTypesSoapOut">
    <wsdl:part name="parameters" element="tns:GetWorkItemTypesResponse" />
  </wsdl:message>
  <wsdl:message name="GetProjectsSoapIn">
    <wsdl:part name="parameters" element="tns:GetProjects" />
  </wsdl:message>
  <wsdl:message name="GetProjectsSoapOut">
    <wsdl:part name="parameters" element="tns:GetProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="GetProjectIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetProjectId" />
  </wsdl:message>
  <wsdl:message name="GetProjectIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetProjectIdResponse" />
  </wsdl:message>
  <wsdl:portType name="BugTrackerSoap">
    <wsdl:operation name="CreateWorkItem">
      <wsdl:input message="tns:CreateWorkItemSoapIn" />
      <wsdl:output message="tns:CreateWorkItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkItemTypeNames">
      <wsdl:input message="tns:GetWorkItemTypeNamesSoapIn" />
      <wsdl:output message="tns:GetWorkItemTypeNamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkItemTypes">
      <wsdl:input message="tns:GetWorkItemTypesSoapIn" />
      <wsdl:output message="tns:GetWorkItemTypesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProjects">
      <wsdl:input message="tns:GetProjectsSoapIn" />
      <wsdl:output message="tns:GetProjectsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectId">
      <wsdl:input message="tns:GetProjectIdSoapIn" />
      <wsdl:output message="tns:GetProjectIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BugTrackerSoap" type="tns:BugTrackerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateWorkItem">
      <soap:operation soapAction="http://services.ccnetconfig.org/CreateWorkItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkItemTypeNames">
      <soap:operation soapAction="http://services.ccnetconfig.org/GetWorkItemTypeNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkItemTypes">
      <soap:operation soapAction="http://services.ccnetconfig.org/GetWorkItemTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjects">
      <soap:operation soapAction="http://services.ccnetconfig.org/GetProjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectId">
      <soap:operation soapAction="http://services.ccnetconfig.org/GetProjectId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BugTrackerSoap12" type="tns:BugTrackerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateWorkItem">
      <soap12:operation soapAction="http://services.ccnetconfig.org/CreateWorkItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkItemTypeNames">
      <soap12:operation soapAction="http://services.ccnetconfig.org/GetWorkItemTypeNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkItemTypes">
      <soap12:operation soapAction="http://services.ccnetconfig.org/GetWorkItemTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjects">
      <soap12:operation soapAction="http://services.ccnetconfig.org/GetProjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectId">
      <soap12:operation soapAction="http://services.ccnetconfig.org/GetProjectId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BugTracker">
    <wsdl:port name="BugTrackerSoap" binding="tns:BugTrackerSoap">
      <soap:address location="http://services.ccnetconfig.org/bugtracker.asmx" />
    </wsdl:port>
    <wsdl:port name="BugTrackerSoap12" binding="tns:BugTrackerSoap12">
      <soap12:address location="http://services.ccnetconfig.org/bugtracker.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>